{% extends 'index2.html' %}
{% block encabezado %}

{% endblock %}
{% block contenido %}

        <div class="row" >
                <div class="span10">
                         <ul>

                            <li><a href="/registrarCron/"><i class="icon-chevron-right"></i> Crear Regla</a></li>
                            <p></p><center><h3>Lista de Reglas </h3></center>




                        </ul>
                        <table class="table table-striped table-bordered">
                                <tr>

                                        <th><center><font color="#333">Descripción</font></center></th>

                                        <!-- <th><center><font color="#333">Modificar</font></center></th> -->

                                        <th><center><font color="#333">Eliminar</font></center></th>




                                </tr>

                                 {% for p in crons %}

                                <tr>


                                                <td>{{p.nombre}}</td>

                                              <!--  <td><center><a href='/editarCron/{{ p.id }}' class="btn-primary"> <input type="submit" value="Editar" class="btn btn-primary" /></a></center></td>-->
                                                <td><center><a href='/eliminarCron/{{ p.id }}' class="btn-primary"><input type="submit" value="Eliminar" class="btn btn-primary" /></a></center></td>


                                </tr>
                             {% empty %}

                                <tr>
                                        No hay Reglas que mostrar
                                </tr>
                                {% endfor %}
                        </table>
</div>
</div>
{% endblock %}}
